@font-face {
  font-family: "iconfont"; /* Project id 5058090 */
  src: url('iconfont.woff2?t=1762508672588') format('woff2'),
       url('iconfont.woff?t=1762508672588') format('woff'),
       url('iconfont.ttf?t=1762508672588') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongyemian:before {
  content: "\e64c";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-shandian:before {
  content: "\e799";
}

.icon-duoyuyan:before {
  content: "\e654";
}

