.me-button.el-button {
  background-color: #f4f5f9 !important;
  border: 1px solid #e0e0e0 !important;
  color: #666 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.me-button.el-button:hover {
  color: #333 !important;
  background-color: #fafafa !important;
  border-color: #e0e0e0 !important;
}

.me-button.el-button.active {
  color: #fff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}

.me-button.el-button .el-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.me-button.el-button.active .el-icon {
  color: #fff !important;
}

.me-button.el-button:not(.active) .el-icon {
  color: #666 !important;
}

.el-button:hover {
  border-color: #666 !important;
}
.el-select:hover {
  border-color: #666 !important;
}

.el-input__inner:hover,
.el-select__input.is-focus:hover,
.el-textarea__inner:hover {
  border-color: #666 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}
.el-select-dropdown__item.is-selected {
  color: #333 !important;
}

.el-input__wrapper.is-focus,
.el-input__wrapper.is-focus:hover,
.el-input.is-focus .el-input__wrapper,
.el-input.is-focus .el-input__wrapper:hover,
.el-input .el-input__wrapper.is-focus,
.el-input .el-input__wrapper.is-focus:hover,
.search-input .el-input__wrapper.is-focus,
.search-input .el-input__wrapper.is-focus:hover {
  box-shadow: 0 0 0 1px #666 inset !important;
}

.el-descriptions__label{
  color: #666 !important;
} 
.el-descriptions__content{
  color: #000 !important;
}